p {
    font-family: 'Kumbh Sans', sans-serif;;
    font-weight: 400;
    font-size: 14px;
}

body, html {
    overflow: hidden;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: hsl(185, 75%, 39%);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* #topPattern, #bottomPattern {
    position: absolute;
}

#topPattern {
    bottom: 39%;
    right: 56%;
}

#bottomPattern {
    top: 54%;
    left: 48%;
} */


#card {
    background-color: white;
    height: 450px;
    width: 400px;
    border-radius: 15px;
    box-shadow: 0 1px 1px 0 rgb(0, 0, 0);
    margin-top: auto;
    z-index: 9;
}

body::before {
    background-image: url("./images/bg-pattern-top.svg");
    width: 100vw;
    height: 100vh;
    content: " ";
    background-position: bottom right;
    position: absolute;
    background-repeat: no-repeat;
    transform: translate(-53%, -45%);
}

body::after {
    background-image: url("./images/bg-pattern-bottom.svg");
    width: 100vw;
    height: 100vh;
    content: " ";
    position: absolute;
    background-repeat: no-repeat;
    transform: translate(52%, 48%);
}

#pattern {
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#card_header {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#card_body {
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#card_body span, .stat {
    font-weight: bold;
    font-size: 18px;
}

#card_body p:first-child {
    font-size: 18px;
}

#card_body p {
    margin-bottom: 0;
}

#profile_picture {
    border-radius: 50%;
    border: 10px solid white;
    margin-top: -50px;
}


/* FOOTER */
#card_footer {
    height: 21%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#card_footer > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#attribution {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#attribution span {
    margin-bottom: 10%;
}

.stat {
    margin: 0;
}