@media screen and  (max-width: 375px) {
    #card {
        width: 87%;
        height: 55%;
    }

    body::before {
        transform: translate(-46%, -48%);
    }
    
    body::after {
        transform: translate(42%, 43%);
    }
}